:root {
    --body: #D9D9D9;
    --bodyColor: #696969;
    --frame: #EAEAEA;
    --cardBg: #FFF;
    --titleColor: #3E3E3E;
    --activeStar: #BDA100;
    --inactiveStar: #CDCDCD;
}

* {
    box-sizing: border-box;
}

body, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background: var(--body);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 20px;
    margin: auto;
    color: var(--bodyColor);
}

.card-holder {
    background-color: var(--frame);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    border-radius: 10px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardBg);
    border-radius: 10px;
    position: relative;
}

.card__banner {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__img img {
    max-width: 100%;
}

.card__title {
    color: var(--titleColor);
}

.card__footer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card__action strong {
    text-transform: uppercase;
}

.card__action .icon {
    height: 16px;
    width: 16px;
    margin-left: 6px;
    filter: invert(19%) sepia(87%) saturate(2474%) hue-rotate(359deg) brightness(93%) contrast(116%); /* https://codepen.io/sosuke/pen/Pjoqqp use this to generate desired color for svgs  */
}

/* Ratings Stars */

.card__ratings {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 34px;
    font-family: Times;
    line-height: 1;
}
.card__ratings::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--activeStar) var(--percent), var(--inactiveStar) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1100px) {
    .card-holder {
        padding: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}